@import "vars";

// naming conventions by BEM
// basically, a container will define the child's size
*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    height: 100%;
    body {
        margin: 0;
        font-family: sans-serif, "open sans", "Helvetica Neue", Helvetica, Arial;
        font-size: 0.875rem;
        line-height: 1.5;
        color: $c-text;
        text-align: left;
        background-color: #fff;
        height: 100%;
        div {
            position: relative;
        }
        #mc-root {
          @include container;
        }
    }
}

input {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

h6 {
  font-weight: 600;
  font-size: 13px;
  padding: 0;
  margin: 0;
}
