@import './vars';
mc-button {
  &.button {
    &-signin {
      width: 100%;

      .button--button {
        width: 100%;
        color: #fff;
      }
    }

    &-icon {
      .button--button {
        border: 0;
      }
    }
  }
}

mc-icon {
  &.icon {
    &-button {
      line-height: 58px;
      height: 58px;

      &:hover {
        color: #000;
      }
    }
    &-field {
      cursor: default;
    }
  }
}

mc-list-item {
  &.horizontal {
    &.selected {
      margin-top: -1px;
      border-bottom: 2px solid $c-gray-bbb;
    }
  }
  &.list-item {
    &-tag {
      margin-right: 10px;
      padding: 0 15px;
      font-size: 9px;
      background-color: $c-gray-bbb;
      color: $c-white;
      margin-bottom: 5px;
      &-orange {
        background-color: $c-orange;
      }
      &.selected {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
