@import "../../shared/styles/vars";
.mc-home-left-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 240px;
    height: 100%;
    border-right: 1px solid $c-border;
    &--header {
        border-bottom: 1px solid $c-border;
        padding: 0 20px;
        &--logo {
            font-size: 24px;
            letter-spacing: -1px;
            line-height: 59px;
            &--1 {
                color: #031d6b;
                font-weight: 700;
            }
            &--2 {
                color: $c-blue;
            }
        }
        &--right {
            position: absolute;
            right: 20px;
            top: 0;
        }
    }
    &--body {}
}
